
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh; 
    background-image: url('fondo1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    text-align: center;
    color: #fff; 
    background-color: purple(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
}
.content image{

    height: 100vh; 
    background-image: url('pers1.jpg'); 
    background-size: 50px; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    color: #fff; 
    background-color: white(0, 0, 0, 0.5); 
}
